/* .main-video{
    margin-top: 500px;
    margin-left: 31%;
    
    display: flex;
    position: absolute;
    top: 80;
    left: 0;
    right: 0;
    height: 50px;
    width: 100%;
    justify-content: center;
    align-items: center;

} */

@media screen and (max-width: 767px) {

 /* .main-content {

  }
*/

  h1 {margin-bottom: 60px;}

  .cookieImage {margin: 10px;
                align-items: center;
                align-content: center;}

  h2.cookieDesc {text-align: center;
                font-family: SuezOne;
                color: #ba214e;
                font-size: 50px;}
  
  .cookieDesc {text-align: center;
              font-family: Roboto;
              color: black;
              font-size: 25px;}

  .indexDescSpan {font-family: RobotoSlab-Bold;}

  .indexDescSpan2 {color: #e1144f;}

  .indexDesc {margin-top: 40px;
              font-family: RobotoSlab;
              font-size: 52px;
              text-align: justify;
              text-justify: inter-word;
              color: black;}

  .buttonOrderNow {background-color: #e1144f;
                  border-color: white;
                  font-size: 32px;
                  border-radius: 0%;}

  .buttonOrderNow:hover {background-color: #ba214e;
                        border-color: white;
                        border-radius: 0%;}

  footer{position: fixed;
        top: 5800 !important;
        left: 0;
        bottom: 0;
        background-color: #f6c2cf;
        position: absolute;
        /* width: 1900px; */
        height: 240px;
        left: 0px;
        right: 0px;
        color: black;}
}

@media screen and (min-width: 768px) {
  footer{position: fixed;
          top: 3200 !important;
          left: 0;
          bottom: 0;
          background-color: #f6c2cf;
          position: absolute;
          /* width: 1900px; */
          height: 240px;
          left: 0px;
          right: 0px;
          color: black;}

  .main-content {margin-bottom: 500px;
                  margin-top: 400px;
                  margin-left: 20%;
                
                  display: flex;
                  position: absolute;
                  top: 80;
                  left: 0;
                  right: 0;
                  /* height: 50px;
                    width: 100%; */
                  justify-content: left;
                  align-items: left;}
  
  h1 {margin-bottom: 60px;}

  .cookieImage {margin: 10px;
                align-items: center;
                align-content: center;}
  
  h2.cookieDesc {text-align: center;
                font-family: SuezOne;
                color: #ba214e;
                font-size: 50px;}
  
  .cookieDesc {text-align: center;
              font-family: Roboto;
              color: black;
              font-size: 25px;}
  
  .indexDescSpan {font-family: RobotoSlab-Bold;}

  .indexDescSpan2 {color: #e1144f;}

  .indexDesc {margin-top: 40px;
              font-family: RobotoSlab;
              font-size: 52px;
              text-align: justify;
              text-justify: inter-word;
              color: black;}
  
  .buttonOrderNow {background-color: #e1144f;
                    border-color: white;
                    font-size: 32px;
                    border-radius: 0%;}
  
  .buttonOrderNow:hover {background-color: #ba214e;
                        border-color: white;
                        border-radius: 0%;}
}
