@media screen and (max-width: 767px) {
    body{background: linear-gradient(180deg, #F6C2CF 15%, #FFFFFF 30%, #FFFFFF 70%, #F6C2CF 100%);
        background-repeat: no-repeat;
        background-attachment: fixed;}
    
    .main-content{margin-bottom: 500px;
                margin-top: 100px;
                margin-left: 20%;
                
                display: flex;
                position: absolute;
                top: 80;
                left: 0;
                right: 0;
                /* height: 50px;
                width: 100%; */
                justify-content: left;
                align-items: left;}
    
    h1{color: #EF3A67;
        font-family: RobotoSlab-Bold;
        font-size: 1px;}
    
    .contentBody{font-family: RobotoSlab;
                font-size: 60px;
                text-align: justify;
                text-justify: inter-word;}
    
    .orderForm{background: rgba(186, 33, 78, 0.2);
                text-align: center;}
    
    form{text-align: left;
        align-content: left;}
    
    .buttonOrder{background-color: #E1144F;
                border-color: white;
                font-size: 22px;
                border-radius: 0%;
                border-radius: 5%;}
    
    .buttonOrder:hover{background-color: #EF3A67;
                        border-color: white;
                        font-size: 22px;
                        border-radius: 0%;
                        border-radius: 5%;}
    
    footer{top: 1400;}
}

@media screen and (min-width: 768px){
    body{background: linear-gradient(180deg, #F6C2CF 15%, #FFFFFF 30%, #FFFFFF 70%, #F6C2CF 100%);
        background-repeat: no-repeat;
        background-attachment: fixed;}
    
    .main-content{margin-bottom: 500px;
                margin-top: 400px;
                margin-left: 20%;
                display: flex;
                position: absolute;
                top: 80;
                left: 0;
                right: 0;
                /* height: 50px;
                width: 100%; */
                justify-content: left;
                align-items: left;}
    
    h1{color: #EF3A67;
        font-family: RobotoSlab-Bold;
        font-size: 1px;}
    
    .contentBody{font-family: RobotoSlab;
                font-size: 60px;
                text-align: justify;
                text-justify: inter-word;}
    
    .orderForm{background: rgba(186, 33, 78, 0.2);
                text-align: center;}
    
    form{text-align: left;
        align-content: left;}
    
    .buttonOrder{background-color: #E1144F;
                border-color: white;
                font-size: 22px;
                border-radius: 0%;
                border-radius: 5%;}
    
    .buttonOrder:hover{background-color: #EF3A67;
                    border-color: white;
                    font-size: 22px;
                    border-radius: 0%;
                    border-radius: 5%;}
    
    footer{top: 4600;}
}